---
---

@import "{{ site.theme }}";

#main_content_wrap {
  background: #ffffff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Series of bivariate Bernstein basis polynomials"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 320px;
  max-height: 480px;
  object-fit: scale-down;
}
