---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Series of Bernstein basis polynomials"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 480px;
  max-height: 640px;
  object-fit: scale-down;
}
